.containerForm {
    margin: auto;
    width: 50%;
    max-width: 100%;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: .5rem;
}

.containerForm h1 {
    text-align: center;
    color: #00C9A3;
    margin: .5rem 0 .5rem 0;
}

.containerForm form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.containerForm label {
    display: block;
    margin-bottom: 5px;
    color: #C5FCEE;
}

.containerForm input,
.containerForm textarea,
.containerForm select {
    width: 60%;
    padding: 10px;
    margin-bottom: .2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #191520;
    text-align: center;
}

.containerForm input::placeholder,
.containerForm select::placeholder {
    text-align: center;
}

.containerForm input[type="text"],
.containerForm textarea {
    resize: none;
}

.containerForm textarea {
    width: 60%;
    padding: 10px;
    margin-bottom: .2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #191520;
    min-height: 100px;
    height: auto;
    /* text-align: center; */
    /* Centrar el placeholder */
}

.containerForm select {
    height: 100px;
}

.containerForm p {
    color: red;
    margin-bottom: 5px;
    margin-top: 0rem;
}

.containerForm button[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 0 10px #C5FCEE;
    font-weight: bold;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.buttonGenres {
    width: 10%;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    box-shadow: 0 0 10px #C5FCEE;
    font-weight: bold;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.containerForm button[type="submit"]:disabled:hover {
    background-color: transparent;
    color: #fff;
    cursor: not-allowed;
    box-shadow: none;
}
.containPlatforms{
    width: 400px;
    height: 200px;
    background-color: #fff;
    overflow: auto;
}

.containerForm button[type="submit"]:hover {
    background-color: #00C9A3;
    color: #191520;
}

@media screen and (max-width: 768px) {

    .containerForm {
        width: 80%;
        max-width: 80%;
    }

    .containerForm form {
        flex-direction: column;
        /* width: 100%; */
    }

    .containerForm input,
    .containerForm textarea,
    .containerForm select {
        width: 90%;
    }
}